body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.wrapper {
    max-width: 728px;
    padding: 0 24px;
    margin: 0 auto;
    zoom: 1;
}


.page-header {
    padding: 1.5rem 0;
}

.photo {
    width: 95px;
    max-width: 100%;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.fullName {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 1rem 0 0;
}

.address {
    text-align: center;
}

.position {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    margin-top: 24px;
    padding: 13px 0 39px;
}

.position h2 {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -.05rem;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 16px;
}

.section {
    margin: 0 0 3rem;
}

.sectionHeader {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: 10px 0;
    margin-bottom: 1.5rem;
}

.sectionHeader > h2 {
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
}

.sectionContent {
    margin-bottom: 2rem;
}

.place {
    font-weight: 700;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1;
}

.job {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1;
}
